externals/Async-CTP/samples/CS/WCF/Stock/Quotes/ClientApp/Service/References/WCFService/QuoteCalculatorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:38134/QuoteCalculatorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTaskAsyncSample" />
  <xs:import schemaLocation="http://localhost:38134/QuoteCalculatorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:38134/QuoteCalculatorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" />
  <xs:element name="GetQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFTaskAsyncSample" minOccurs="0" name="GetQuoteResult" nillable="true" type="q1:Quote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tickers" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" minOccurs="0" name="GetQuotesResult" nillable="true" type="q3:ReadOnlyCollectionOfQuote9rQaBa4T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>