externals/Async-CTP/samples/VB/WCF/Stock/Quotes/ClientApp/Service/References/WCFService/QuoteCalculatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuoteCalculatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:43447/QuoteCalculatorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:43447/QuoteCalculatorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:43447/QuoteCalculatorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFQuoteCalculatorService" />
      <xsd:import schemaLocation="http://localhost:43447/QuoteCalculatorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:43447/QuoteCalculatorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuoteCalculatorService_GetQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="IQuoteCalculatorService_GetQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IQuoteCalculatorService_GetQuotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotes" />
  </wsdl:message>
  <wsdl:message name="IQuoteCalculatorService_GetQuotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotesResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuoteCalculatorService">
    <wsdl:operation name="GetQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuoteCalculatorService/GetQuote" message="tns:IQuoteCalculatorService_GetQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuoteCalculatorService/GetQuoteResponse" message="tns:IQuoteCalculatorService_GetQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuoteCalculatorService/GetQuotes" message="tns:IQuoteCalculatorService_GetQuotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuoteCalculatorService/GetQuotesResponse" message="tns:IQuoteCalculatorService_GetQuotes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuoteCalculatorService" type="tns:IQuoteCalculatorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuote">
      <soap:operation soapAction="http://tempuri.org/IQuoteCalculatorService/GetQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotes">
      <soap:operation soapAction="http://tempuri.org/IQuoteCalculatorService/GetQuotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuoteCalculatorService">
    <wsdl:port name="BasicHttpBinding_IQuoteCalculatorService" binding="tns:BasicHttpBinding_IQuoteCalculatorService">
      <soap:address location="http://localhost:43447/QuoteCalculatorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>