externals/Async-CTP/samples/VB/WCF/Stock/Quotes/ClientApp/Service/References/WCFService/QuoteCalculatorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFQuoteCalculatorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFQuoteCalculatorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Quote">
    <xs:sequence>
      <xs:element minOccurs="0" name="Change" type="xs:double" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Quote" nillable="true" type="tns:Quote" />
  <xs:complexType name="ArrayOfQuote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Quote" nillable="true" type="tns:Quote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuote" nillable="true" type="tns:ArrayOfQuote" />
</xs:schema>